<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<system.net>
		<connectionManagement>
      <add address="*" maxconnection="10000" />
		</connectionManagement>
	</system.net>
	<system.diagnostics>
		<trace>
			<listeners>
				<add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.7.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
					<filter type="" />
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthentication" />
			<add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
			<add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
		</modules>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server"
                 areas="Authentication, Security, Filter, StaticFile, CGI, Compression, Cache, RequestNotifications, Module"
                 verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions statusCodes="400-599" />
        </add>
      </traceFailedRequests>
    </tracing>
	</system.webServer>
	<location path="MoviesMesh.ashx">
		<system.webServer>
			<security>
				<access sslFlags="SslNegotiateCert" />
			</security>
		</system.webServer>
	</location>
	<location path="FederationMetadata">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Noc2">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Noc">
		<system.web>
			<authorization>
        <allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<customErrors mode="Off" />
    <httpRuntime maxUrlLength="2048" relaxedUrlToFileSystemMapping="true" requestPathInvalidCharacters="" maxRequestLength="16384" requestValidationMode="2.0" />
		<authentication mode="None" />
    <pages validateRequest="false">
			<namespaces>
        <add namespace="ReverseProxy" />
			</namespaces>
		</pages>
	</system.web>
	<appSettings>
    <add key="FederationMetadataLocation" value="https://mymovies.accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml " />
	</appSettings>
	<microsoft.identityModel>
		<service>
			<audienceUris>
        <add value="https://mymovies.cloudapp.net/" />
      </audienceUris>
			<federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" issuer="https://mymovies.accesscontrol.windows.net/v2/wsfederation" realm="urn:Dummy" requireHttps="true" />
				<cookieHandler requireSsl="true" />
			</federatedAuthentication>
			<applicationService>
				<claimTypeRequired>
					<!--Following are the claims offered by STS 'https://haproxy.accesscontrol.windows.net/'. Add or uncomment claims that you require by your application and then update the federation metadata of this application.-->
					<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" optional="true" />
					<claimType type="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" optional="true" />
					<!--<claimType type="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" optional="true" />-->
					<!--<claimType type="http://schemas.microsoft.com/accesscontrolservice/2010/07/claims/identityprovider" optional="true" />-->
				</claimTypeRequired>
			</applicationService>
			<issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<trustedIssuers>
          <add thumbprint="xyzzy" name="https://mymovies.accesscontrol.windows.net/" />
				</trustedIssuers>
			</issuerNameRegistry>
			<certificateValidation certificateValidationMode="None" />
		</service>
	</microsoft.identityModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10621.0" newVersion="1.0.10621.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>