@*Copyright (c) Microsoft Corporation*@
@{
    ViewBag.Title = "No Detailed Information";
}

<h2>There is no detailed information for the selected operation.</h2>
The operation consists only of information presented in the log view.

@Html.ActionLink("Return to Log", "Index")
